@import './base.css';

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#app {
  padding: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-weight: normal;
  background-color: #f3f3f3;
}

.content {
  width: 100%;
  margin: 0 auto;
  background-color: #f3f3f3;
  height: 100%;
}

.tabs-list {
  background-color: #ffffff;
  border-bottom: 1px solid #e0e0e0;
}

.inner-content {
  margin: 0 auto;
  padding: 2rem;
}

.holder {
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 12px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.toolbar {
  width: 40%;
  display: flex;
  align-items: center;
  text-align: center;
}

.tables .table-header {
  height: 5rem;
}

.tables .row-header {
  background-color: #787e83;
  color: white;
}

.tables tbody tr:hover {
  background-color: #e3f2fd;
}

/* Update Table Header and Cell sizes for Source Sans 3 */
.v-table .v-table__wrapper table thead tr th {
  font-family: 'Source Sans 3', sans-serif !important;
  font-size: 14px !important;
  font-weight: 700 !important;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.v-table .v-table__wrapper table tbody tr td {
  font-family: 'Source Sans 3', sans-serif !important;
  font-size: 15px !important;
  color: #333;
}


@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    width: 100%;
  }
}
